/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

default_layer {
// ------------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP       |
// |  ESC |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '         |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHIFT RET  |
//                    |CTRL | GUI | TAB |   | SPC | GUI  | ALT |
                        bindings = <
   &kp TAB    &kp Q &kp W &kp E &kp R &kp T     &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp ESC    &kp A &kp S &kp D &kp F &kp G     &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHIFT &kp Z &kp X &kp C &kp V &kp B     &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &mt RSHIFT RET
                 &kp LCTRL &kp LGUI &kp TAB     &lt 1 SPACE &lt 2 RET &kp RALT
                        >;
                };
lower_layer {
// -----------------------------------------------------------------------------------------
// |  L3  |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |      |
// |      |     |  Fn |  Fn |  Fn |     |   | LFT | DWN |  UP | RGT |  `  |      |
// |      |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |      |
//                    |     |     |     |   |     |     |     |
                        bindings = <
   &to 3  &kp N1 &kp N2        &kp N3           &kp N4            &kp N5     &kp N6     &kp N7    &kp N8   &kp N9    &kp N0    &trans
   &trans &trans &kp LA(SPACE) &kp LC(LG(LEFT)) &kp LC(LG(RIGHT)) &trans     &kp LEFT   &kp DOWN  &kp UP   &kp RIGHT &kp GRAVE &trans
   &trans &trans &trans        &trans           &trans            &trans     &kp MINUS  &kp EQUAL &kp LBKT &kp RBKT  &kp BSLH  &trans
                               &trans           &trans            &trans     &trans  &trans   &trans
                        >;
                };

raise_layer {
// -----------------------------------------------------------------------------------------
// | BTCLR |  F1 |  F2 |  F3 |  F4 |  F5 |   |  F6 |  F7 |  F8 |  F9 | F10 |  BT3 |
// |  BT1  |     |     |     |     |     |   |     |     |     |     |     |  BT4 |
// |  BT2  |     |     |     |     |     |   |     |     |     |     |     |  BT5 |
//                     |     |     |     |   |     |     |     |
                        bindings = <
   &bt BT_CLR   &kp F1 &kp F2 &kp F3 &kp F4 &kp F5     &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &bt BT_SEL 2
   &bt BT_SEL 0 &trans &trans &trans &trans &trans     &trans &trans &trans &trans &trans  &bt BT_SEL 3
   &bt BT_SEL 1 &trans &trans &trans &trans &trans     &trans &trans &trans &trans &trans  &bt BT_SEL 4
                    	      &trans &trans &trans     &trans &trans &trans
                        >;
                };
game_layer {
// ------------------------------------------------------------------------------------------
// |  TAB |  1  |  Q  |  W  |  E  |  R  |   |     |      |     |     |     |     |
// |  ESC |  2  |  A  |  S  |  D  |  F  |   |     |      |     |     |     | L0  |
// | SHFT |  3  |  Z  |  X  |  C  |  V  |   |     |      |     |     |     | RET |
//                    |CTRL | ALT | SPC |   |     |      |     |
                        bindings = <
   &kp TAB    &kp N1 &kp Q &kp W &kp E &kp R     &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp ESC    &kp N2 &kp A &kp S &kp D &kp F     &kp H &kp J  &kp K     &kp L   &kp SEMI &to 0
   &kp LSHIFT &kp N3 &kp Z &kp X &kp C &kp V     &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RET
                &kp LCTRL &kp LALT &kp SPACE     &lt 1 SPACE &lt 2 RET &kp RALT
                        >;
                }
        };
};
